.{
    margin: 0;
}
/* Body */
body {
    /*background-image: url('/images/bg1.jpg');
    background-size: cover;
    background-size: 100%;*/
    background-color: #350b40;
}

body::before {
    content: '';
    display: block;
    width: 100%;
    height: 9%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    position: absolute;
    top: 0;
}

body::after {
    content: '';
    display: block;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

/* Navbar */
.navbar {
    z-index: 99999;
}

.navbar-brand {
    font-size: 30px;
    color: #F8F7F4;
    text-align: right;
}

/* Jumbotron */
.display-4 {
    text-align: center;
    font-weight: 400;
    text-shadow: 0 0 15px rgba(0,0,0,0.7), 0 0 10px rgba(0,0,0,0.7);
    color: #F8F7F4;
}

.lead {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 450;
    margin-bottom: 20px;
    text-shadow: 0 0 15px rgba(0,0,0,0.4), 0 0 10px rgba(0,0,0,0.4);
    color: #F8F7F4;
}

@media (min-width: 992px) {
/* Page Login.ejs */
.display-4_login {
    margin-top: 200px !important;
    margin-left: 110px;
    margin-bottom: -50px;
    font-weight: 400;
    font-size: 70px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

.lead_login {
    text-align: left;
    position: relative;
    left: -52px !important;
    top: 50px !important;
    font-size: 15px;
    line-height: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.btn-register{
    z-index: 1;
    position: relative;
    left: -310px;
    top: 50px;
}

/* Page Register.ejs */
.register{
    right: 50%;
    bottom: 150px;
    left: 50%;
}


.display-4_register {
    left: 110px;
    top: 60px;
    position: relative;
    margin-top: 150px;
    margin-bottom: -20px;
    font-weight: 400;
    font-size: 70px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

.lead_register {
    text-align: left;
    position: relative;
    left: -40px !important;
    margin-top: 25px;
    margin-bottom: -10px;
    font-size: 15px;
    line-height: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

/* User and Room Master */
.btn-join{
    top: 390px;
    left: 530px;
}

.btn-logout{
    top: 450px;
    left: 821px;
}

.btn-logout2{
    top: 470px;
    left: 821px;
}

#room-input {
    left: 482px;
    top: 397px;
    background:rgba(255, 255, 255, 0.2);
    border-block: white;
    color: white;
    border-radius: 30px;
    padding: 2px 10px 2px 10px;
    text-align: center;
}

/* User */
.jumbotron2 {

    background-size: cover;
    height: 650px;
    margin-top: -430px;
    z-index: 2;
}

.jumbotron2 .container {
    position: relative;
    z-index: 1;
}

.jumbotron2::before {
    content: '';
    display: block;
    width: 100%;
    height: 12%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    position: absolute;
    top: 0;
}

/*for welcome cinephile*/
.jumbotron2 .display-4 {
    font-family: 'Viga', sans-serif;
    text-align: right;
    position: relative;
    top: 110px;
    right: 250px;
    color: #F8F7F4;
}

/*for profile photo*/
.img-thumbnail {
    top: 100px;
    left: 370px;
}

.img-thumbnail3 {
    top: 80px;
    left: 302%;
}

/*for Hi <name> */
.hi p {
    z-index: 999 !important;
    left: 372px;
    top: 90px;
}

.hi2 p {
    z-index: 999 !important;
    top: 80px;
    left: 281%;
}

/* Room Master */
.jumbotron3 {
    background-image: url('/images/coba7.jpg');
    background-size: cover;
    height: 650px;
    position: relative;
    margin-top: -215px;
    position: relative;
    z-index: 2;
}

.jumbotron3 .container {
    position: relative;
    z-index: 1;
}

.jumbotron3::before {
    content: '';
    display: block;
    width: 100%;
    height: 12%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    position: absolute;
    top: 0;
}

.jumbotron3 .display-4 {
    font-family: 'Viga', sans-serif;
    text-align: right;
    position: relative;
    left: 30px;
    font-size: 45px;
    top: 160px;
    color: #F8F7F4;
}

#dropdownMenuLink {
    width: 20%;
    top: 70px;
    left: 105.5%;
    border-radius: 40px;
    border-color: white;
}

/* Page Livestreaming.ejs */
#dropdownMenuLink1 {
    background-color: #000000;
    position: relative;
    width: 101.75%;
    left: 19px;
}

.d-flex {
    position: relative;
    margin-top: -410px;
    top: -70px;
}

}

#dropdownMenuLink1 {
    background-color: #000000;
    position: relative;
}

#dropdownMenuLink {
    background-color: #000000;
    position: relative;
    z-index: 1000;
}

.display-4_login {
    left: 110px;
    top: 60px;
    margin-top: 150px;
    font-weight: 400;
    font-size: 70px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

.lead_login {
    text-align: left;
    left: 240px;
    top: 55px;
    font-size: 15px;
    line-height: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.display-4_register {
    left: 110px;
    top: 60px;
    margin-top: 150px;
    font-weight: 400;
    font-size: 70px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

.lead_register {
    text-align: left;
    left: 240px;
    top: 55px;
    font-size: 15px;
    line-height: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.dropdown-menu {
    color: black;
}

/* MINE CODE*/
/*.grid{
    background: url('/images/bg2.jpg');
    display:grid;
    padding:10px;
    grid-column-gap:20px;
    grid-row-gap:20px;
    grid-template-columns: auto auto auto;
  }
  .grid-item{
    background-color:rgb(0,0,0);opacity:0.6;;
    font-size:15px;
    padding:5px;
    text-align: center;
  }
*/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
  .row {
    display: flex;
    padding: 50px;
    margin-left: 80px;
  }

  .column {
    flex: 22%;
    margin-bottom: 80px;
  }

  .flip-card {
    z-index: -1;
    position: absolute;
    background-color: transparent;
    width: 200px;
    height: 250px;
    perspective: 1000px;
    border-radius: 25px;
  }

  .flip-card-inner {
    z-index: -1;
    position: relative;
    width: 200px;
    height: 250px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    z-index: -1;
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    width: 200px;
    height: 260px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    z-index: -1;
    background-color: rgb(0,0,0,0);
    color: black;
  }

  .flip-card-back {
    z-index: -1;
    background-image: url("/images/bg5.jpg");
    background-color: #2A1B3D;
    color: white;
    transform: rotateY(180deg);
  }


  .zoom {
    z-index: 1;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
  }

  .zoom:hover {
    z-index: 1;
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


/*welcome message*/

/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/* Header Style */
.codrops-top {
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
  font-size: 0.68em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 2.2;
}

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.2);
  display: inline-block;
}

.codrops-top a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.os-phrases h2 {
  font-family: "Nova Cut";
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  position: absolute;
  bottom: 15%;
  left: 3%;
  letter-spacing: 14px;
  text-align: center;
  opacity: 0;
}

.os-phrases h2,
.os-phrases h2 > span {
  height: 100%;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.os-phrases h2 > span {
  margin: 0 15px;
}

.os-phrases h2 > span > span {
  display: inline-block;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.os-phrases h2 > span > span > span {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: OpeningSequence 5.2s linear forwards;
  -moz-animation: OpeningSequence 5.2s linear forwards;
  animation: OpeningSequence 5.2s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.os-phrases h2:nth-child(3) > span > span > span {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s;
}

.os-phrases h2:nth-child(4) > span > span > span {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  animation-delay: 15s;
}

.os-phrases h2:nth-child(5) > span > span > span {
  font-size: 70px;
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  animation-delay: 21s;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  animation-duration: 8s;
}

.os-phrases h2:nth-child(6) > span > span > span {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  animation-delay: 30s;
}

.os-phrases h2:nth-child(7) > span > span > span {
  -webkit-animation-delay: 34s;
  -moz-animation-delay: 34s;
  animation-delay: 34s;
}

@-webkit-keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    -webkit-transform: translateZ(130px);
    pointer-events: none;
  }
}
@-moz-keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0.2;
    -moz-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    -moz-transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    -moz-transform: translateZ(130px);
    pointer-events: none;
  }
}
@keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0.2;
    transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    transform: translateZ(130px);
    pointer-events: none;
  }
}
.os-phrases h2:nth-child(8) > span > span > span {
  font-size: 30px;
  -webkit-animation: FadeIn 4s linear 40s forwards;
  -moz-animation: FadeIn 4s linear 40s forwards;
  animation: FadeIn 4s linear 40s forwards;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}
@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}
/* Bold words */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,
.os-phrases h2:nth-child(4) .word2 {
  font-weight: 600;
}
/*welcome message ends*/

/*Heart Button Starts*/
.heart_button{
	width: 50px;
	height: 50px;
  top:20%;
  position: fixed;
	left: 113%;
	margin-top: -45px;
	margin-left: -50px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.heart_button:hover{

}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
    width: 100px;
    height: 90px;
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 8px;
    top: 0;
    width: 10px;
    height: 15px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

/*Heart Button Ends*/
/*Review FORM STARTS*/
* {
        box-sizing: border-box;
      }
      .rev_Popup {
        position: relative;
        text-align: left;
        width: 100%;
        z-index: 999999;
      }
      .formrev_Popup {
        display: none;
        position: fixed;
        left: 45%;
        bottom:7%;
        transform: translate(-50%, 5%);
        border: 3px solid #999999;
        border-radius: 15px;
        z-index: 999999;
        color: white;
      }
      .rev_formContainer {
        max-width: 600px;
        padding: 20px;
        background-image: url('/images/bg5.jpg');
        z-index: 999999;

      }
      .rev_formContainer input[type=text],
      .rev_formContainer textarea[type=text] {
        width: 100%;
        padding:12px;
        margin: 5px 0 2px 0;
        border: none;
        background-image: url('/images/bg5.jpg');
        color: white;
        z-index: 999999;

      }
      .rev_formContainer input[type=text]:focus,
      .rev_formContainer input[type=text]:focus {
        background-color: #ddd;
        outline: none;
        color: white;
      }
      .rev_formContainer input[type=text]:hover,
      .rev_formContainer textarea[type=text]:hover
        {
        outline: none;
        border-color: #yellow;
        box-shadow: 0 0 5px yellow;
      }
      .rev_formContainer .rev_btn {
        padding: 10px 5px;
        border: none;
        background-color: #8ebf42;
        background-image: url('/images/bg7.jpg');
        color: white;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
        border-radius: 5px;
      }
      .rev_formContainer .cancel {
        background-color: #cc0000;
        background-image: url('/images/bg6.jpg');
      }
      .rev_formContainer .rev_btn:hover,
      .openrev_Button:hover {
        opacity: 1;
      }
/*Review FORM ENDS*/

/* Review CARD STARTS*/
.flip-card_rev {
  background-color: transparent;
  width: 500px;
  height: 200px;
  perspective: 1000px;
  margin-left: 200px;
}

.flip-card-inner_rev {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card_rev:hover .flip-card-inner_rev {
  transform: rotateY(180deg);
}

.flip-card-front_rev, .flip-card-back_rev {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front_rev {
  background-image: url('/images/bg5.jpg');
  color: white;
  border-radius:20px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.flip-card-back_rev {
  background-image: url('/images/bg5.jpg');
  color: white;
  border-radius:20px;
  transform: rotateY(180deg);
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.rev_Button {
  border: none;
  border-radius: 10px;
  width:200px;
  height:50px;
  background-color: #1c87c9;
  background-image: url('/images/bg6.jpg');
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  margin-left:30px;
  z-index: 999999;
}
.rev_Button:hover{
  transform: scale(1.3);
}
/*Review CARD ENDS*/

/* Stopwatch code starts */
#stopwatch {
    font-family: 'Nova Cut';
    font-size: 35px;
    margin-top:30px;
    color:grey;
    transform: translate(-50%, -55%);
}
/* Stopwatch code ends */
/* MINE CODE ENDS*/


/* Live Streaming */
.jumbotron4 {
    background-image: url('/images/2.jpg');
    background-size: cover;
    height: 650px;
    position: relative;
}

.jumbotron4 .container {
    position: relative;
}

.jumbotron4::before {
    content: '';
    display: block;
    width: 100%;
    height: 12%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    position: absolute;
    top: 0;
}

.jumbotron4::after {
    content: '';
    display: block;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

/* Movie */
#video, #video-stream {
    position: relative;
    z-index: 999;
    max-width: 854px;
    max-height: 480px;
    margin-left: 20px;
}

/* Chatbox */
.chatbox {
    position: relative;
    max-width: 310px;
    max-height: 576px;
    background:rgba(0,0,0,0.7);
    color: #F8F7F4;
    padding: 25px;
    box-shadow: 6px 6px 6px #000000;
    overflow: visible;
    margin-top: 10px;
    z-index: 999;
    right: 40px;
    outline: none;
    border-color: #green;
    box-shadow: 0 0 5px green;

}

.chatlogs{
    position: absolute;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 4px;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chat-form {
    position: relative;
    z-index: 999;
    margin-top: 400px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.chat-form button {
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 10pt;
    padding: 2px 10px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: -40px;
}

#chat-input{
    width: 200px;
    color: white;
    background:rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: -40px;
}

/* Modal User */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 30% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),  0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn {
    color: #ccc;
    float: right !important;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Phone Version */
@media (max-width: 576px) {
    /* Page Index.ejs */

    /* Watch Together */
    .display-4 {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        font-weight: 400;
        font-size: 50px;
        text-shadow: 0 0 5px rgba(0,0,0,0.7), 0 0 5px rgba(0,0,0,0.7);
        margin-bottom: 40px;
        color: #F8F7F4;
    }

    /* Deskripsi */
    .lead {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4), 0 0 5px rgba(0,0,0,0.4);
        color: #F8F7F4;
    }

    /* Button Coba */
    .btn-coba{
        position: relative;
        right: 40px;
    }

    /* Navbar */
    .navbar-brand, .nav-link {
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
    }

    .nav-link:hover {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid black;
        width: 0% !important;
        padding-bottom: 2px;
        margin-bottom: -4px;
    }

    /* Page Login.ejs */
    /* Form Login */
    .login{
        position: relative;
        z-index: 1;
        top: 40px;
        width: 350px;
        height: 280px;
        max-width: 100%;
        max-height: 80%;
        opacity: 0.6;
        background-color: black;
        color: white;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
        line-height: 32px;
        padding: 50px 45px;
        margin-left: -170px;
    }

    .login input{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color:white;
        margin-bottom: 10px;
    }

    .login select{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        height: 25px;
        margin-bottom: 15px;
        color:white;
    }

    .login select::before{
        content: '';
        background: red;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        pointer-events: none;
    }

    .login h1{
        font-size: 14px;
        margin-bottom: -3px;
    }

    .display-4_login {
        margin-top: 30px;
        font-weight: 400;
        font-size: 70px;
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
    }

    .lead_login {
        text-align: right;
        margin-top: -15px;
        margin-bottom: -10px;
        margin-right: 100px;
        font-size: 14px;
        line-height: 10px;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    }

    .btn-register{
        font-weight: 500;
        font-size: 13px;
    }

    /* Page Register.ejs */
    .register{
        position: relative;
        width: 350px;
        height: 330px;
        top: 40px;
        max-width: 100%;
        max-height: 80%;
        opacity: 0.6;
        background-color: black;
        color: white;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
        line-height: 32px;
        padding: 40px 45px;
    }

    .display-4_register {
        margin-top: 30px;
        font-weight: 400;
        font-size: 60px;
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
    }

    .lead_register {
        text-align: right;
        margin-top: -12px;
        margin-bottom: -10px;
        margin-right: 110px;
        font-size: 14px;
        line-height: 10px;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    }

    .register input{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color:white;
    }

    .register select{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        height: 25px;
        margin-bottom: 15px;
        color:white;
    }

    .register select::before{
        content: '';
        background: red;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        pointer-events: none;
    }

    .register h1{
        font-size: 14px;
        margin-bottom: -3px;
    }

    .register h2{
        font-size: 14px;
    }

    .btn-login{
        position: relative;
        z-index: 500;
    }

    /* User and Room Master */
    .img-thumbnail {
        width: 0 !important;
        height: 0 !important;
        background-color: rgba(0,0,0,0) !important;
        border-color: rgba(0,0,0,0) !important;
    }

    .img-thumbnail3 {
        width: 0 !important;
        height: 0 !important;
        background-color: rgba(0,0,0,0) !important;
        border-color: rgba(0,0,0,0) !important;
    }

    .thumbnail-name{
        width: 0 !important;
        height: 0 !important;
    }

    .hi p{
        color: rgba(0,0,0,0) !important;
        font-size: 0 !important;
    }

    .hi2 p {
        color: rgba(0,0,0,0) !important;
        font-size: 0 !important;
    }

    .btn-join{
        left: 33%;
        z-index: 999;
    }



    .btn-logout{
        left: 29.5%;
        z-index: 999;
    }

    .btn-logout2{
        left: 29%;
        top: 120px;
        z-index: 999;
    }

    .display-4 {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    /* User */
    .img-thumbnail {
        top: 100%;
    }

    .hi p{
        top: 100%;
    }

    /* Room Master */
    .hi2 p {
        top: 100%;
    }

    #dropdownMenuLink {
        width: 50%;
        top: -310px;
        left: 25%;
        border-radius: 40px;
        border-color: grey;
    }

    /* Page Livestreaming.ejs */
    #video {
        left: -20px;
        padding-right: -50px;
        margin-right: -50px;
    }
}
    /* Navbar */
    .nav-link {
        text-transform: uppercase;
        font-family: 'Viga', sans-serif;
        font-size: 25px;
        font-weight: 400;
    }

    .navbar-brand, .nav-link {
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid black;
        width: 50%;
        padding-bottom: 2px;
        margin-bottom: -4px;
    }

    /* Form Register */
    /* Form Register kalau ada upload photo */
    /* .register{
        position: relative;
        z-index: 1;
        width: 350px;
        height: 400px;
        right: 50%;
        bottom: 60px;
        left: 50%;
        position: absolute;
        opacity: 0.6;
        background-color: black;
        color: white;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
        line-height: 32px;
        padding: 40px 45px;
    } */

    .register{
        position: relative;
        z-index: 1;
        width: 350px;
        height: 330px;
        opacity: 0.6;
        background-color: black;
        color: white;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
        line-height: 32px;
        padding: 40px 45px;
    }

    .register input{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color:white;
    }

    .register select{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        height: 25px;
        margin-bottom: 15px;
        color:white;
    }

    .register select::before{
        content: '';
        background: red;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        pointer-events: none;
    }

    .register h1{
        font-size: 14px;
        margin-bottom: -3px;
    }

    .register h2{
        font-size: 14px;
    }

    /* Form Login */
    .login{
        margin-top:0;
        position: relative;
        z-index: 1;
        width: 350px;
        height: 280px;
        right: 50%;
        bottom: 160px;
        left: 50%;
        opacity: 0.6;
        background-color: black;
        color: white;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
        line-height: 32px;
        padding: 50px 45px;
    }

    .login input{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color:white;
        margin-bottom: 10px;
    }

    .login select{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        height: 25px;
        margin-bottom: 15px;
        color:white;
    }

    .login select::before{
        content: '';
        background: red;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        pointer-events: none;
    }

    .login h1{
        font-size: 14px;
        margin-bottom: -3px;
    }

    /* Button */
    .btn{
        line-height: 15px;
        height: 35px;
        width: 100%;
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 5px;
        font-family: 'Roboto Mono', monospace;
        margin-top: 10px;
    }

    .btn-login{
        line-height: 15px;
        height: 35px;
        width: 100%;
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 5px;
        font-family: 'Roboto Mono', monospace;
        margin-top: 17px;
    }

    .btn-coba{
        background: rgba(0,0,0,0.2);
        border: 1px solid white;
        border-radius: 30px;
        color: white;
        padding: 5px 35px 5px 35px;
        font-family: 'Roboto Mono', monospace;
        position: relative;
        z-index: 2;
    }

    .btn-coba:visited{
        color: white;
    }

    .btn-register{
        background: rgba(0,0,0,0.2);
        border: 1px solid white;
        border-radius: 30px;
        color: white;
        padding: 5px 35px 5px 35px;
        font-family: 'Roboto Mono', monospace;
    }

    .btn-register:visited {
        color: white;
    }

    .btn-join{
        position: relative;
        background: rgba(255,255,255,0);
        border: 1px solid white;
        border-radius: 30px;
        color: white;
        padding: 5px 35px 5px 35px;
        font-family: 'Roboto Mono', monospace;
    }

    .btn-join:visited{
        color: white !important;
    }

    #change-room-master {
        position: relative;
        right: 390px;
        bottom: 120px;
    }

    .join-room{
        width : 100px;
    }

    .join-room:hover{
        color:pink;
        cursor: pointer;
    }

    .make-a-room{
        width: 178px;
        margin-left: -35px;
        margin-top: -50px;
        cursor: pointer;
    }

    .make-a-room:hover{
        color: pink;
    }

    .btn-join:visited {
        color: white;
    }

    .btn-logout{
        position: relative;
        background: rgba(255,255,255,0);
        border: 1px solid white;
        border-radius: 30px;
        color: white;
        padding: 5px 35px 5px 35px;
        font-family: 'Roboto Mono', monospace;
    }

    .btn-logout2{
        position: relative;
        background: rgba(255,255,255,0);
        border: 1px solid white;
        border-radius: 30px;
        color: white;
        padding: 5px 35px 5px 35px;
        font-family: 'Roboto Mono', monospace;
    }

    .btn-logout:visited {
        color: white;
    }

    .btn-logout2:visited {
        color: white;
    }

    .btn-upload,.btn-update{
        margin-top: 20px;
        position: relative;
        font-family: 'Roboto Mono', monospace;
        color: white;
        border: 1px solid white;
        border-radius: 2px;
        background: rgba(0,0,0,0.7);
        z-index : 999;
    }

    .img-thumbnail {
        position: relative;
        z-index: 999 !important;
        border-radius: 100%;
        width: 160px;
        height: 160px;
    }

    .img-thumbnail3 {
        position: relative;
        z-index: 999 !important;
        border-radius: 100%;
        width: 160px;
        height: 160px;
    }

    .thumbnail-name{
        margin-top: 100px;
        z-index: 4;
    }

    @media (max-width:992px){
        .thumbnail-name{
            margin-top: 350px;
            left: 35%;
        }
        .thumbnail-name .hi p{
            right: 33%;
        }
    }

    .img-thumbnail2 {
        position: absolute;
        z-index: 1;
        border-radius: 100%;
        top: 13px;
        right: 200px;
        width: 35px;
        height: 35px;
    }

    .hi p {
        position: relative;
        text-align: center;
        z-index: 1;
        right: 17%;
        margin-top: 20px;
        font-weight: 500;
        color: white;
        font-family: 'Noto Sans', sans-serif;
    }

    .hi2 p {
        position: relative;
        text-align: center;
        right: 17%;
        margin-top: 20px;
        font-weight: 500;
        color: white;
        font-family: 'Noto Sans', sans-serif;
    }

    #voice-chat{
        height: 30px;
        width: 30px;
        position: relative;
        margin-bottom: -40px;
    }

    #voice-chat:hover{
        background-color: white;
        opacity: 50%;
        cursor: pointer;
    }

    #voice-chat:active{
        background: #000000;
        opacity: 50%;
    }
    /* Page users-master.ejs */
    .dropdown-film{
        position: relative;
        z-index: 9999;
    }
